* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
    background-color: rgb(174, 239, 239);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  color: #FFF;
  background-color: blue;
  margin-left: 1.2rem;
}

ul {
  list-style: none;
  margin-bottom: 2rem;
}

.tech_elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  width: 100vw;
  padding: 0 20vw;
  margin-bottom: 1rem;
}

#remove {
  color: red;
  background-color: rgb(185, 239, 59);
  width: 2rem;
  margin-left: 1rem;
  padding: .2rem;
}

#clear {
  color: rgb(253, 250, 250);
  background-color: rgb(10, 27, 217);
  width: 10rem;
  margin-left: 1rem;
  padding: .2rem;
}

p {
  color: #FFF;
  background-color: crimson;
  padding: .8rem;
}
